In [1]:
import numpy as np

In [2]:
a_variable = [1,2,3,4]
a_variable

[1, 2, 3, 4]

In [3]:
a_variable += [5]
a_variable.append(6)

In [4]:
a_variable

[1, 2, 3, 4, 5, 6]

In [5]:
a_different_variable = np.array(a_variable)
a_different_variable

array([1, 2, 3, 4, 5, 6])

In [6]:
a_different_variable*10

array([10, 20, 30, 40, 50, 60])

In [8]:
(a_different_variable**2 + a_different_variable*6 + 7)**2

array([ 196,  529, 1156, 2209, 3844, 6241])

In [9]:
messy_calculation = (np.sin(a_different_variable) + np.cos(a_different_variable)**2 + np.log(a_different_variable) + np.exp(a_different_variable))

In [10]:
messy_calculation

array([   3.85167939,    9.1646789 ,   22.30535436,   55.65489188,
        149.14413698,  405.86306444])

In [11]:
np.mean(messy_calculation),np.std(messy_calculation)

(107.66396765918506, 142.07594429143552)

In [12]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [13]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [14]:
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

In [15]:
data = 2* np.arange(51)
data

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [16]:
data[5]

10

In [17]:
data

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [18]:
data[2]

4

In [20]:
data[len(data) - 1]

100

In [22]:
data[-1]

100

In [ ]:
data[start:end:step]

In [23]:
data[:5]

array([0, 2, 4, 6, 8])

In [25]:
data[1:5]

array([2, 4, 6, 8])

In [28]:
data[1:5:2]

array([2, 6])

In [29]:
data

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [30]:
data[-2:]

array([ 98, 100])

In [ ]:
for [thing] in [list/array]:
    [do stuff]

In [31]:
sentence = 'Is energy conserved on the cosmological scale?'.split()
sentence

['Is', 'energy', 'conserved', 'on', 'the', 'cosmological', 'scale?']

In [32]:
for word in sentence:
    print(word)
    print()

Is

energy

conserved

on

the

cosmological

scale?

In [44]:
means = []

highest = 1001
batch_size = 100

loops = 200

In [45]:
for i in np.arange(loops):
    
    values = np.random.choice(highest,batch_size)
    average = np.mean(values)
    
    means += [average]

In [46]:
means

[516.82000000000005,
 500.47000000000003,
 479.33999999999997,
 466.56,
 528.58000000000004,
 534.34000000000003,
 527.38,
 453.42000000000002,
 504.93000000000001,
 461.76999999999998,
 509.44999999999999,
 506.94,
 522.77999999999997,
 476.52999999999997,
 518.45000000000005,
 520.41999999999996,
 490.50999999999999,
 476.31,
 527.33000000000004,
 462.69999999999999,
 528.58000000000004,
 542.55999999999995,
 461.63,
 504.99000000000001,
 469.92000000000002,
 517.63999999999999,
 506.13999999999999,
 507.19999999999999,
 474.93000000000001,
 509.50999999999999,
 518.09000000000003,
 516.85000000000002,
 519.39999999999998,
 496.88,
 508.91000000000003,
 474.58999999999997,
 458.32999999999998,
 544.0,
 516.17999999999995,
 453.00999999999999,
 467.85000000000002,
 515.35000000000002,
 459.76999999999998,
 477.76999999999998,
 523.14999999999998,
 504.58999999999997,
 508.55000000000001,
 501.16000000000003,
 529.58000000000004,
 458.80000000000001,
 487.93000000000001,
 503.87,
 490.18000000000001,
 493.16000000000003,
 510.69999999999999,
 552.41999999999996,
 474.38,
 499.83999999999997,
 453.10000000000002,
 489.26999999999998,
 488.31,
 507.93000000000001,
 498.63999999999999,
 495.87,
 534.29999999999995,
 506.19,
 516.63,
 506.95999999999998,
 507.26999999999998,
 498.42000000000002,
 520.53999999999996,
 510.63,
 508.89999999999998,
 466.37,
 486.89999999999998,
 508.69999999999999,
 456.69,
 466.0,
 489.55000000000001,
 473.36000000000001,
 528.0,
 472.19999999999999,
 453.01999999999998,
 492.30000000000001,
 426.19999999999999,
 479.75999999999999,
 538.13999999999999,
 546.58000000000004,
 488.97000000000003,
 542.63,
 522.22000000000003,
 447.41000000000003,
 509.06,
 500.45999999999998,
 465.27999999999997,
 515.21000000000004,
 460.38999999999999,
 487.94,
 453.94,
 510.50999999999999,
 499.62,
 514.30999999999995,
 414.25999999999999,
 553.83000000000004,
 465.5,
 535.04999999999995,
 499.33999999999997,
 500.06,
 494.06,
 443.64999999999998,
 553.71000000000004,
 548.86000000000001,
 520.46000000000004,
 468.98000000000002,
 532.03999999999996,
 526.45000000000005,
 518.77999999999997,
 484.61000000000001,
 500.17000000000002,
 461.55000000000001,
 565.75999999999999,
 506.75,
 497.61000000000001,
 472.23000000000002,
 515.69000000000005,
 497.72000000000003,
 546.48000000000002,
 524.34000000000003,
 500.29000000000002,
 486.82999999999998,
 537.15999999999997,
 529.09000000000003,
 519.44000000000005,
 519.24000000000001,
 495.63,
 492.27999999999997,
 480.88,
 499.05000000000001,
 490.44,
 438.91000000000003,
 467.58999999999997,
 476.92000000000002,
 473.29000000000002,
 448.13999999999999,
 505.10000000000002,
 497.73000000000002,
 480.55000000000001,
 531.82000000000005,
 520.37,
 552.95000000000005,
 462.81999999999999,
 542.09000000000003,
 465.36000000000001,
 524.53999999999996,
 524.09000000000003,
 491.05000000000001,
 475.77999999999997,
 482.68000000000001,
 511.45999999999998,
 496.08999999999997,
 568.03999999999996,
 475.49000000000001,
 496.00999999999999,
 534.58000000000004,
 502.79000000000002,
 479.54000000000002,
 589.76999999999998,
 476.24000000000001,
 533.25,
 537.74000000000001,
 530.25,
 513.60000000000002,
 534.88,
 502.5,
 518.64999999999998,
 501.56999999999999,
 511.48000000000002,
 507.25,
 468.86000000000001,
 497.24000000000001,
 535.53999999999996,
 516.98000000000002,
 485.81,
 512.02999999999997,
 450.33999999999997,
 502.23000000000002,
 464.56,
 497.36000000000001,
 491.56999999999999,
 493.17000000000002,
 525.13,
 536.15999999999997,
 447.70999999999998,
 538.88999999999999,
 534.17999999999995,
 477.81999999999999,
 548.99000000000001,
 502.49000000000001,
 477.63,
 529.88]

In [47]:
np.mean(means),np.std(means)

(500.66949999999997, 29.05872008107033)

In [ ]:
while [something true]:
    [run stuff]

In [48]:
x = 3

while x < 6:
    print(x)
    print(x**2)
    print()
    
    x += 1

3
9

4
16

5
25

In [67]:
total = 0

i = 0

while total < 100:
    total += i
    
    i += 1

In [69]:
total, i

(105, 15)

In [71]:
if np.random.choice(101) < 50:
    print('Heads')
else:
    print('Tails')

Tails

In [ ]:
def function_name(input1, input2, ..., inputn):
    [do stuff]
    return outputs

In [72]:
def hello():
    return 'Hello'

In [73]:
hello()

'Hello'

In [76]:
hello()

'Hello'

In [77]:
def is_odd(number):
    if np.abs(number) % 2 == 1:
        return True
    else:
        return False

In [80]:
is_odd(0)

False